@import url('https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  width: 100%;
  height: 100%;
  background-color: #24252A;
  color: white;
  font-family: "Quantico", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  user-select: none;
}

/* Center the header component */
header {
  margin: 0 auto;
  text-align: center;
}

/* Add padding to the content to avoid overlap with the header */
.content {
  border-top: 3px solid black;
  padding-top: 5px;
  height: 100vh;
  overflow: hidden;
}