/* CodePen Example Credit:
   Original design and implementation by Kevin Lam
   URL: https://codepen.io/kevin-lam-the-scripter/pen/QWNeNvo */

.wheel::before {
  content: '';
  position: absolute;
  bottom: 19%;
  left: 19%;
  width: 3%;
  height: 3%;
  background-color: #e91e63;
  border-radius: 50%;
  box-shadow: 0 0 0.4em 0 #d63f3f;
}

.tick::after {
  content: '';
  width: 0.08em;
  height: 0.6em;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: -1.5em;
  left: 50%;
  transform: translateX(-50%);
  transition: all 180ms ease-out;
}

.activetick::after {
  background-color: #e91e63;
  box-shadow: 0 0 0.3em 0.08em #d63f3f;
  transition: all 50ms ease-in;
}

.neon {
  color: #d63f3f;
  text-shadow:
    0 0 5px #f44336,
    0 0 10px #f44336,
    0 0 15px #f44336,
    0 0 20px #e91e63,
    0 0 30px #e91e63;
}
