.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 2.5%;
  background-color: #24252A;
  position: relative;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.logo {
  width: 50px;
  height: auto;
  margin-left: 10px;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* Styling for nav items */
.option {
  font-weight: 500;
  font-size: 20px;
  color: #f8f8f8;
  text-decoration: none;
  margin: 0 60px;
  transition: color 0.3s ease;
}

.option:hover {
  color: #ff0000;
  cursor: pointer;
  text-decoration: underline;
}

.option:active {
  color: #0056b3;
}

.option a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav-container {
    flex-direction: column;
    padding: 20px;
  }

  .navbar {
    flex-direction: column;
  }

  .nav-links {
    position: static;
    transform: none;
  }

  .option {
    font-size: 14px;
    margin: 10px 0;
  }
}