.drive-info-container {
  display: flex;
  gap: 0.25rem;
}

.knob-light-container {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: row;
}

/* Knob */
/* Knob Container Styling */
.knob-container {
  width: 50%;
  height: 30%;
}

/* Maximum Speed Title */
.knob-title {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  margin: 0.25rem;
  margin-bottom: 0;
}

/* Headlight */
/* Headlight container styling */
.headlight-container {
  width: 50%;
  height: 75%;
}

/* Brightness Title */
.headlight-title {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  margin: 0.25rem;
  margin-bottom: 1rem;
}

.connection-container {
  width: 100%;
  height: 47.5%;
}

.camera-control-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.camera-control-title {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  margin: 0.25rem;
  margin-bottom: 2rem;
}
