/* Main Container */
.stream-controls-container {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 10px;
  color: #ffffff;
}

/* Device List */
.devices-list-box {
  width: 35%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-bottom: 40px;
  text-align: center;
}

.device-item {
  padding: 12px 16px;
  margin: 2.5px 0;
  border-radius: 10px;
  cursor: pointer;
  background: #181818;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #1d1d1d), color-stop(1, #131313));
  background: -ms-linear-gradient(bottom, #1d1d1d, #131313);
  background: -moz-linear-gradient(center bottom, #1d1d1d 0%, #131313 100%);
  background: -o-linear-gradient(#131313, #1d1d1d);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#131313', endColorstr='#1d1d1d', GradientType=0);
  box-shadow:
    0 0.15em 0.075em 0.025em rgba(255, 255, 255, 0.075) inset,
    0 -0.15em 0.075em 0.025em rgba(0, 0, 0, 0.3) inset,
    0 0.3em 0.375em 0 rgba(0, 0, 0, 0.2);

  transition: background 0.3s, box-shadow 0.3s;
  color: #ffffff;
}

.device-item:hover,
.device-item.selected {
  box-shadow:
    0 0.2em 0.1em 0.025em rgba(255, 255, 255, 0.1) inset,
    0 -0.2em 0.1em 0.025em rgba(0, 0, 0, 0.35) inset,
    0 0.4em 0.45em 0 rgba(0, 0, 0, 0.25);
  background: #191a14;
  color: #d63f3f;
}

.device-item:active {
  transform: scale(0.95);
  box-shadow: 
    0 0.1em 0.075em 0.02em rgba(255, 255, 255, 0.04) inset,
    0 -0.1em 0.075em 0.02em rgba(0, 0, 0, 0.2) inset,
    0 0.2em 0.3em 0 rgba(0, 0, 0, 0.15);
}

/* Camera Button Grid (2x2 Layout) */
.camera-btn-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 60%;
}

/* Camera Button */
.camera-btn {
  height: 9vw; 
  max-height: 180px; 
  min-height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding:  10px;
  background-color: #26272e;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.camera-label {
  margin-top: 0px;
}

/* Connected Device Name (Underneath Stop Button) */
.device-name {
  margin-top: 10px;
  font-size: 0.75rem;
  color: #b0b0b0;
  white-space: nowrap;
  height: 1rem; /* Fixed height */
}

.start-btn-container, .stop-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Button (Play & Stop) - Smaller Size */
.start-btn,
.stop-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 0.15em #0e0e0e;
  cursor: pointer;
  background: #181818;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #1d1d1d), color-stop(1, #131313));
  background: -ms-linear-gradient(bottom, #1d1d1d, #131313);
  background: -moz-linear-gradient(center bottom, #1d1d1d 0%, #131313 100%);
  background: -o-linear-gradient(#131313, #1d1d1d);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#131313', endColorstr='#1d1d1d', GradientType=0);
  box-shadow: 
    0 0.2em 0.1em 0.05em rgba(255, 255, 255, 0.1) inset,
    0 -0.2em 0.1em 0.05em rgba(0, 0, 0, 0.5) inset,
    0 0.5em 0.65em 0 rgba(0, 0, 0, 0.3);
  transition: background 0.3s, box-shadow 0.3s;
}

/* Icon Color (Neon Effect) */
.start-btn svg{
  fill: none;
  stroke: #d63f3f;
  stroke-width: 2;
}

.stop-btn svg {
  fill: none;
  stroke: #a8d47a;
  stroke-width: 2;
}

/* Hover & Active Effects */
.start-btn:hover {
  background: #202020;
  box-shadow: 
    0 0 12px #e91e63,
    0 0.3em 0.15em 0.05em rgba(255, 255, 255, 0.15) inset,
    0 -0.3em 0.15em 0.05em rgba(0, 0, 0, 0.6) inset,
    0 0.6em 0.75em 0 rgba(0, 0, 0, 0.4);
}

.stop-btn:hover {
  background: #202020;
  box-shadow: 
    0 0 12px #a8d47a,
    0 0.3em 0.15em 0.05em rgba(255, 255, 255, 0.15) inset,
    0 -0.3em 0.15em 0.05em rgba(0, 0, 0, 0.6) inset,
    0 0.6em 0.75em 0 rgba(0, 0, 0, 0.4);
}

.start-btn:active {
  transform: scale(0.95);
  box-shadow: 0 0 16px #e91e63;
}

.stop-btn:active {
  transform: scale(0.95);
  box-shadow: 0 0 16px #a8d47a;
}

/* Disabled State */
.start-btn.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}