.graph-container {
    flex: 2;
}

.graph-container h2 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 1rem;
    margin: 0.25rem;
    margin-left: 0rem;
}

.graph {
    width: 100%;
    height: 100%;
    background-color: black;
}