/* PS4 controller container */
.controller-container {
  width: 357px;
  height: 267px;
  margin-top: 0rem;
  background-image: url("../../../../assets/gamepads/base.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Controller */
.controller {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 5px;
  padding-top: 5px;
}

/* Triggers */
.triggers {
  position: absolute;
  width: 74%;
  height: 14.65%;
  top: -1.83%;
  left: 11.30%;
  transition: background 0.3s;
}
.trigger-left{
  position: absolute;
  width: 38px;
  height: 35px;
  top: 2px;
  left: 5px;
}
.trigger-right {
  position: absolute;
  width: 38px;
  height: 35px;
  top: 2px;
  right: 3px;
}
.ltrigger.active {
  width: 100%;
  height: 100%;
  display: block;
  background: url("../../../../assets/gamepads/triggers.svg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}
.rtrigger.active {
  width: 100%;
  height: 100%;
  display: block;
  background: url("../../../../assets/gamepads/triggers.svg");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}

/* Bumpers */
.bumpers {
  position: absolute;
  width: 74%;
  height: 3.50%;
  top: 13.80%;
  left: 11.30%;
  transition: background 0.3s;
}
.bumper-left {
  position: absolute;
  width: 45px;
  height: 10px;
  left: 2px;
}
.bumper-right {
  position: absolute;
  width: 45px;
  height: 10px;
  right: 0px;
}
.lbumper.active {
  width: 100%;
  height: 100%;
  display: block;
  background-image: url("../../../../assets//gamepads/bumper.svg");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}
.rbumper.active {
  width: 100%;
  height: 100%;
  display: block;
  background-image: url("../../../../assets//gamepads/bumper.svg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  transform: scaleX(-1);
}

/* Touchpad */
.touchpad.active {
  position: absolute;
  width: 32.50%;
  height: 24%;
  top: 18.50%;
  left: 32.50%;
  border-radius: 10%;
  transition: background 0.3s;
  background-image: url("../../../../assets/gamepads/touchpad.svg");
}

/* PS4 Logo */
.meta {
  position: absolute;
  width: 4.50%;
  height: 5.75%;
  top: 55%;
  left: 46.5%;
  border-radius: 50%;
  transition: background 0.3s;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.meta.active {
  background-image: url("../../../../assets/gamepads/meta.svg") !important;
}
.meta.connected {
  background-image: url("../../../../assets/gamepads/connected.svg");
}
.meta.disconnected {
  background-image: url("../../../../assets/gamepads/disconnected.svg");
}


/* Share & Options */
.buttons {
  position: absolute;
  width: 44.50%;
  height: 7.50%;
  top: 21.80%;
  left: 26.40%;
  transition: background 0.3s;
}
.button-share {
  position: absolute;
  width: 13px;
  height: 20px;
  left: 0px;
}
.button-options {
  position: absolute;
  width: 13px;
  height: 20px;
  right: 0px;
}
.share.active {
  width: 100%;
  height: 100%;
  display: block;
  background-image: url("../../../../assets/gamepads/start.svg");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}
.options.active {
  width: 100%;
  height: 100%;
  display: block;
  background-image: url("../../../../assets/gamepads/start.svg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

/* abxy */
.abxy {
  position: absolute;
  width: 21.50%;
  height: 27.60%;
  top: 24.75%;
  left: 69.25%;
  transition: background 0.3s;
}
.button-a {
  position: absolute;
  width: 22.5px;
  height: 22.5px;
  bottom: 0px;
  left: 26.5px;
}
.button-b {
  position: absolute;
  width: 22.5px;
  height: 22.5px;
  top: 26.5px;
  right: 2px;
}
.button-x {
  position: absolute;
  width: 22.5px;
  height: 22.5px;
  top: 26.5px
}
.button-y {
  position: absolute;
  width: 22.5px;
  height: 22.5px;
  left: 26.5px;
}
.a.active { 
  width: 100%;
  height: 100%;
  display: block;
  background-image: url("../../../../assets/gamepads/star.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.b.active {
  width: 100%;
  height: 100%;
  display: block;
  background-image: url("../../../../assets/gamepads/circle.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.x.active {
  width: 100%;
  height: 100%;
  display: block;
  background-image: url("../../../../assets/gamepads/square.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.y.active {
  width: 100%;
  height: 100%;
  display: block;
  background-image: url("../../../../assets/gamepads/triangle.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Sticks */
.sticks {
  position: absolute;
  width: 45.50%;
  height: 17%;
  top: 48%;
  left: 26%;
  transition: background 0.3s;
}
.stick-left {
  position: absolute;
  width: 50px;
  height: 50px;
  left: -2px;
}
.stick-right {
  position: absolute;
  width: 50px;
  height: 50px;
  right: -2px;
}
.lstick.active, .lstick.moving{
  width: 100%;
  height: 100%;
  display: block;
  background-image: url("../../../../assets/gamepads/sticks.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.rstick.active, .rstick.moving{
  width: 100%;
  height: 100%;
  display: block;
  background-image: url("../../../../assets/gamepads/sticks.svg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

/* Dpads */
.dpads {
  position: absolute;
  width: 16.20%;
  height: 21.10%;
  top: 27.75%;
  left: 9.50%;
  transition: background 0.3s
}
.face-up {
  position: absolute;
  width: 45px;
  height: 45px;
  top: -20px;
  left: 20px;
}
.face-down {
  position: absolute;
  width: 40px;
  height: 45px;
  bottom: 0px;
  left: 20px;
}
.face-left {
  position: absolute;
  width: 30px;
  height: 45px;
  top: -1px;
  left: -10px;
}
.face-right {
  position: absolute;
  width: 30px;
  height: 45px;
  top: -1px;
  right: 0px;
}
.fu.active {
  width: 100%;
  height: 100%;
  display: block;
  background-image: url("../../../../assets/gamepads/up.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.fd.active {
  width: 100%;
  height: 100%;
  display: block;
  background-image: url("../../../../assets/gamepads/down.svg");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}
.fl.active {
  width: 100%;
  height: 100%;
  display: block;
  background-image: url("../../../../assets/gamepads/left.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.fr.active {
  width: 100%;
  height: 100%;
  display: block;
  background-image: url("../../../../assets/gamepads/right.svg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}