.speed-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 100%;
    position: relative;
}

.speed-slider {
    margin-top: 5% !important;
    height: 8rem;
}

.speed-display {
    height: 20%;
    font-weight: bold;
    text-align: center;
}