/* Grid layout for the camera cards */
.camera-grid {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.1rem;
  margin: 0;
}

/* Responsive grid for medium screens (2 columns) */
@media (min-width: 768px) {
  .camera-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Responsive grid for large screens (3 columns) */
@media (min-width: 1024px) {
  .camera-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Styling for each camera card */
.camera-card {
  height: 100%;
  background-color: white;
  padding: 0.25rem;
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

/* Styling for the camera title */
.camera-title {
  top: 0.25rem;
  left: 0.25rem;
  position: absolute;
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
}

/* Styling for the camera placeholder */
.camera-placeholder {
  position:relative;
  background-color: #e5e7eb;
  height: 100%;
  border-radius: 0.25rem;
}