/* Main container */
.hub-view {
  width: 30%;
}

/* Hub Container */
.drive-info-container {
  height: 95vh;
  padding: 1rem;
  padding-top: 0;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
}

/* Toggle Container */
.hub {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Toggle Switch */
.hub-toggle {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  background: #26272e;
  border-radius: 30px;
  padding: 0.5rem;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

/* Toggle Slider Effect */
.hub-toggle::before {
  content: "";
  position: absolute;
  width: calc(50% - 1rem);
  height: calc(80% - 1rem);
  background: #181818;
  border-radius: 30px;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  transition: left 0.3s ease;
  background: linear-gradient(to top, #1d1d1d, #131313);
  box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.4);
  box-sizing: border-box; 
}

/* Slide Effect */
.hub-toggle.info-mode::before {
  left: 0.5rem; 
}

.hub-toggle.control-mode::before {
  left: calc(50% + 0.5rem - 5px);
}

/* Toggle Option */
.hub-option {
  flex: 1;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  font-weight: bold;
  user-select: none;
  transition: transform 0.1s ease, box-shadow 0.3s ease, background 0.3s ease;
  color: #757575;
}

/* Metallic Active State */
.hub-option.active {
  color: #efff5c; /* Neon yellow */
  background: linear-gradient(to top, #1d1d1d, #131313);
  box-shadow: 
    0 0.2em 0.1em 0.05em rgba(255, 255, 255, 0.1) inset,
    0 -0.2em 0.1em 0.05em rgba(0, 0, 0, 0.5) inset,
    0 0.5em 0.65em 0 rgba(0, 0, 0, 0.3);
}

/* Inactive State */
.hub-option:not(.active) {
  color: #757575;
}