/* Main container */
.hub-view {
  width: 30%;
  height: 100%;
}

/* Hub Container */
.drive-info-container {
  height: 95dvh;
  padding: 0.5rem;
  padding-top: 0;
  margin-right: 1rem;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
}

/* Toggle Container */
.hub {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Toggle Switch */
.hub-toggle {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  background: #26272e;
  border-radius: 30px;
  padding: 0.5rem;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}


/* Toggle Option */
.hub-option {
  flex: 1;
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  z-index: 1;
  font-weight: bold;
  user-select: none;
  transition: transform 0.1s ease, box-shadow 0.3s ease, background 0.3s ease;
  color: #757575;
}

/* Metallic Active State */
.hub-option.active {
  color: #d63f3f;
  background: linear-gradient(to top, #1d1d1d, #131313);
}

/* Inactive State */
.hub-option:not(.active) {
  color: #757575;
}