<sdf version="1.9">
    <model name="kinect">
        <link name="kinect_link">
            <inertial>
                <mass>0.1</mass>
                <inertia>
                    <ixx>0</ixx>
                    <ixy>0</ixy>
                    <ixz>0</ixz>
                    <iyy>0</iyy>
                    <iyz>0</iyz>
                    <izz>0</izz>
                </inertia>
            </inertial>

            <collision name="kinect_collision">
                <pose>0 0 0 0 0 0</pose>
                <geometry>
                    <box>
                        <size>0.073 0.276 0.072</size>
                    </box>
                </geometry>
            </collision>

            <visual name="kinect_visual">
                <pose>0 0 0 0 0 0</pose>
                <geometry>
                    <mesh>
                        <uri>file://meshes/depth_camera.dae</uri>
                        <scale>1.0 1.0 1.0</scale>
                    </mesh>
                </geometry>
            </visual>

            <sensor name="camera" type="depth_camera">
                <pose>0 0 0 0 0 0</pose>
                <update_rate>20</update_rate>
                <depth_camera>
                    <horizontal_fov>1.047198</horizontal_fov>
                    <image>
                        <width>640</width>
                        <height>480</height>
                        <format>R8G8B8</format>
                    </image>
                    <clip>
                        <near>0.05</near>
                        <far>3</far>
                    </clip>
                </depth_camera>
                <plugin
                    name="ignition::sensors::DepthCameraSensor"
                    filename="ignition-gazebo-depth-camera-system">
                    <topic>/camera/depth/image_raw</topic>
                    <camera_info_topic>/camera/depth/camera_info</camera_info_topic>
                    <point_cloud_topic>/camera/depth/points</point_cloud_topic>
                    <frame_id>camera_link</frame_id>
                </plugin>
            </sensor>
        </link>

        <joint name="depth_camera_joint" type="fixed">
            <parent>parent_link</parent>
            <child>kinect_link</child>
            <pose>0 0 0 0 0 0</pose>
        </joint>
    </model>
</sdf>
  