/* Styling for the control container */
.control {
  padding: 0.25rem;
  min-height: 100dvh;
  height: 100%;
}

/* Styling for the control content */
.control-content {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  gap: 0.25rem
}

.arm-info {
  flex: 1;
}

.arm-view {
  flex: 2;
}

.arm-control {
  flex: 1;
}