/* Styling for the dashboard container */
.dashboard {
  padding: 0.25rem;
  background-color: #f3f4f6;
  min-height: 100vh;
  height: 100%;
}

/* Styling for the dashboard content */
.dashboard-content {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 0.25rem
}

/* Styling for the CameraView (left side) */
.camera-view {
  height: 100%;
  flex: 3;
}

/* Styling for the RoverInfo (right side) */
.rover-info {
  flex: 1;
}